body {
    padding: 0;
    margin: 0;
    font-family: "Merriweather", sans-serif;
  }
  
  * {
    text-align: center;
    padding: 0;
  }
  
  .index-header {
    display: flex;
    border: 2px solid;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .index-header > h1 {
    margin-left: 5px;
  }
  
  .index-header > ul {
    margin-right: 5px;
    list-style: none;
  }
  
  .header-links {
    display: flex;
    gap: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .books-container {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .book-item {
    display: flex;
    border: 1px solid;
    border-color: #303c4c;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
    font-size: 2vh;
  }
  
  .book-item:nth-child(even) {
    background-color: #fff;
  }
  
  .book-title {
    margin-left: 10px;
  }
  
  .remove {
    margin-right: 5%;
    height: 2em;
    border-radius: 6px;
    background-color: #303c4c;
    border-style: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  #title {
    width: 300px;
    height: 30px;
    border: 2px solid;
    border-radius: 6px;
  }
  
  #author {
    width: 300px;
    height: 30px;
    border: 2px solid;
    border-radius: 6px;
    margin-top: 10px;
  }
  
  #add-button {
    height: 2em;
    width: 50px;
    border-radius: 6px;
    background-color: #303c4c;
    border-style: none;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    margin-left: 255px;
  }
  
  .info {
    display: flex;
    margin-left: 3rem;
  }
  
  .contact-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-info-div > h3 {
    font-size: 2.5rem;
  }
  
  .contact-info-div > ul {
    list-style: decimal;
  }
  
  .form,
  .contact-info-div,
  .list-div {
    display: none;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  @media only screen and (max-width: 769px) {
    .books-container {
      display: flex;
      flex-direction: column;
    }
  
    .book-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  
    .remove {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  